AddHandler php5-script .php



Options +FollowSymLinks
RewriteEngine On
RewriteRule ^images/([^/]+)$ images/$1 [L]
RewriteRule ^/*(.+/)?([^.]*[^/])$ http://%{HTTP_HOST}/$1$2/ [L,R=301]
RewriteRule ^([^/]+)/([^/]+)/$ location.php?adminName3=$1&location_name=$2 [L]
RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/$ location.php?location_name=$1&title=$2&thread_id=$3 [L]
