
body, html {
	margin:0px;
	padding:0px;

}

h1,p,span {
	font-family: Helvetica,
             "Helvetica Neue",
             Arial,
             sans-serif;
}

#logo {
	position:absolute;
	top:30px;
	left:50%;
	margin-left:-385px;
	z-index:10;
}

#mapstraction {
	width: 97%;
	height: 450px;
	z-index:10;
	border:1px solid black;
	margin:0px auto 0px auto;
}

#map_container {
	padding-top:13px;
	position:relative;	
	margin:0px auto 0px auto;
	width:100%;
	background-image: url(../images/index_background.png);
	background-repeat:repeat-x;	
	height:550px;
	z-index:5;
}

#container {
	position:absolute;
	top:470px;
	width: 780px; 
	left:50%; 
	margin-left:-400px;
	background-image:url(../images/content_background.png); 
	background-repeat:no-repeat;
	z-index:1;
	padding:30px 30px;
	background-repeat:repeat-y;
}


a {
	color:black;
}

label {width:100px; float:left;}

#results, #search_results {border:1px solid black; padding:5px; margin-top:20px;}
