/* STRUCTURE */ 

#main_map img {
  max-width: none;
}

body { 
    padding-top:0px;
    background-image:url(/img/bkg_body.png);
}

header {
    background-color: black;
    height: 76px;
    opacity: 0.5;
}

h1 { 
    color:white;
}

#controls { 
    margin-top:20px;
}

#updates_header { 
    margin-top:20px;
    margin-bottom:-5px;
}

#description { 
    margin-top:20px;
}

#main_map { 
    height:300px;
    margin-top:20px;
}

.alpha {
    color:red;
    
}

.listing { 
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #AAAAAA;
    margin-top: 20px;
    padding: 5px 10px;
}

.listing .description { 
    margin-bottom:20px;
}

.listing .site { 
    margin-bottom:1px solid black;
}

.listing h3 a {
    font-weight:normal;
    
}

.listing h3 { 
    margin-top:0px;
    margin-bottom:0px;
}     

.pubdate { 
    font-style:italic;
    color:#008270;
    margin-top:15px;
}

.tags { 
    padding:5px;
    background-color:white;
    margin-right:10px;
    border:1px solid black;
}


/* Site Locations */

#site_locations #main_map, #sites #main_map{ 
    height:400px;
}

#site_locations #blog_link, #sites #blog_link { 
    float:right;
}


