
body, html {
	margin:0px;
	padding:0px;

}

h1,p,span, li,a, h2, h3  {
	font-family: Helvetica,
             "Helvetica Neue",
             Arial,
             sans-serif;
}

p, li { 
	font-size:12px;
}

#logo {
	position:absolute;
	top:30px;
	right:35px;
	z-index:10;
	border:1px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	height:180px;
	background-color:#daf5f5;
	overflow:hidden;
}

#logo label {
	width:200px;
	padding-left:10px;
}

#time_filter { 
	margin-left:10px;
	width:220px;
}

#filter_button {
	margin-top:10px;
	margin-left:50px;
	width:140px;
	height:30px;
}

.filter { 
	cursor:pointer;
}

#filter_controls { 
	position:absolute;
	top:180px;
}

.filter_category { 
	width:250px;
	margin-bottom:2px;
}

#arrow { 
    left: 111px;
    position: absolute;
    top: 155px;
}

#filter { 
    left: 104px;
    position: absolute;
    text-decoration: underline;
    top: 135px;
	
} 


#filter_council {background-color:#4575B4} 

#filter_local  {background-color:#A50026} 

#filter_crime  {background-color:#D73027} 

#filter_community_events {background-color:#cfe69c} 

#filter_art  {background-color:#5cb59f} 

#filter_shops  {background-color:#FDAE61} 

#filter_animals  {background-color:#313695} 

#filter_kids  {background-color:#74ADD1} 

#filter_sport  {background-color:#df6899} 


#location_home { 
	left: 70px;
    position: absolute;
    text-decoration: underline;
    top: 135px;
}

#mapstraction {
	width: 97%;
	height: 505px;
	z-index:10;
	border:1px solid black;
	margin:0px auto 0px auto;
}

#map_container {
	padding-top:13px;
	position:relative;	
	margin:0px auto 0px auto;
	width:100%;
	background-image: url(../images/index_background.png);
	background-repeat:repeat-x;
	background-position:bottom center;
	background-color:transparent;	
	height:650px;
	z-index:5;
}

#container {
	position:absolute;
	
	width: 780px; 
	left:50%; 
	margin-left:-400px;
	background-image:url(/images/content_background.png); 
	background-repeat:no-repeat;
	z-index:1;
	padding:30px 30px;
	background-repeat:repeat-y;
	min-height:1000px;
}

#index #container { 
	top:530px;
}

#location_container {
	position:absolute;
	top:0px;
	width: 780px; 
	left:50%; 
	margin-left:-420px;
	background-image:url(/images/content_background.png); 
	background-repeat:no-repeat;
	z-index:1;
	padding:30px 30px;
	background-repeat:repeat-y;
	height:100%;
}

.banner { 
	width:100%;
	text-align:left;
	height:142px;
	background-color:#e0f6f7;
	padding:10px;
	margin-left:-10px;
}

.list_description { 
	width:600px;
}

a {
	color:black;
}

label {width:100px; float:left;}

#results, #search_results {border:1px solid black; padding:5px; margin-top:20px;}

.bubble_date { 
	font-size:11px;
}


